* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar0 {
  background-color: #3a3a3a;
  color: #b0b4bc;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.time {
  margin-right: 30px;
}
.workspaces {
  margin-left: 30px;
}
.workspaces button {
  font-size: 24px;
  padding: 6px;
}
.workspaces button:hover {
  color: #D35D6E;
}
.ws-button-mine {
  color: #4e4e4e;
  background-color: #ffd5ca;
}
.ws-button-visible {
  color: #D35D6E;
  background-color: #4e4e4e;
}
.ws-button-urgent {
  color: #ffd5ca;
  background-color: #D35D6E;
}
.ws-button-busy {
  color: #D35D6E;
}
.ws-button {
  color: #b0b4bc;
}
