[package]
name = "leftwm"
version = "0.2.9"
authors = ["Lex Childs <lexchilds@gmail.com>"]
description = "A window manager for Adventurers"
edition = "2018"
keywords = ["wm", "window", "manager"]
categories = ["window manager"]
license = "MIT"
repository = "https://github.com/leftwm/leftwm"
readme = "README.md"

[lib]
name = "leftwm"
path = "src/lib.rs"

[dependencies]
git-version = { version = "0.3.4", optional = true }
signal-hook = "0.3.4"
mio = "0.7.7"
nix = "0.20.0"
x11-dl = "2.18.4"
xdg = "2.2.0"
toml = "0.5.5"
serde = { version = "1.0.104", features = ["derive", "rc"] }
serde_json = "1.0.44"
log = "0.4.8"
dirs-next = "2.0.0"
tokio = { version = "1.2.0", features = ["fs", "io-util", "macros", "net", "rt-multi-thread", "sync", "time"] }
clap = { version = "2.33.0", optional = true }
libc = "0.2"
liquid = "0.22"
chrono = { version = "0.4.19", optional = true }
futures = "0.3.12"
slog = { version = "2.5.2", optional = true }
slog-stdlog = { version = "4.0.0", optional = true }
slog-scope = { version = "4.3.0", optional = true }
slog-envlogger = { version = "2.2.0", optional = true }
slog-async = { version = "2.4.0", optional = true }
slog-journald = { version = "2.1.1", optional = true }
slog-term = { version = "2.5.0", optional = true }
derivative = "2.2.0"
anyhow = "1"

[dev-dependencies]
tempfile = "3.2.0"

[features]
default = ["cli"]
journald = ["slog-journald", "slow-dm-fix"]
cli = ["git-version", "clap", "chrono", "slog", "slog-stdlog", "slog-scope", "slog-envlogger", "slog-async", "slow-dm-fix", "slog-term"]

# Sleep on restart
slow-dm-fix = []
