[package]
name = "leftwm"
version = "0.2.2"
authors = ["Lex Childs <lexchilds@gmail.com>"]
description = "A window manager for Adventurers"
edition = "2018"
keywords = ["wm", "window", "manager"]
categories = ["window manager"]
license = "MIT"
repository = "https://github.com/leftwm/leftwm"
readme = "README.md"

[lib]
name = "leftwm"
path = "src/lib.rs"

[dependencies]
x11-dl = "2.18.4"
xdg = "2.2.0"
toml = "0.5.5"
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.44"
log = "0.4.8"
dirs = "2.0.2"
tokio = "0.1.22"
tokio-uds = "0.2.5"
bytes = "0.5.3"
clap = "2.33.0"
liquid = "0.19.0"
chrono = "0.4.10"
futures = "0.1.29"
uuid = { version = "0.8.1", features = ["serde", "v4"] }
slog = "2.5.2"
slog-stdlog = "4.0.0"
slog-scope = "4.3.0"
slog-envlogger = "2.2.0"
slog-async = "2.4.0"
slog-journald = { version = "2.1.1", optional = true }
slog-term = { version = "2.5.0", optional = true }

[features]
default = ["slog-journald", "slow-dm-fix"]

# Sleep on restart
slow-dm-fix = []
