#![enable(implicit_some)]
(
    border_width: 1,
    margin: 10,
    workspace_margin: None,
    default_width: None,
    default_height: None,
    always_float: None,
    gutter: None,
    default_border_color: "#626880",
    floating_border_color: "#626880",
    focused_border_color: "#a5adce",
    on_new_window: None,
)
